In [3]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)
    
print(quicksort([3,6,8,10,1,2,1]))
# Prints "[1, 1, 2, 3, 6, 8, 10]"

[1, 1, 2, 3, 6, 8, 10]

#### Variable

Tidak perlu deklarasi tipe data

In [5]:
print('Hello World!')

Hello World!

In [13]:
n = 10
print(type(n))
print(n)

<class 'int'>
10

In [12]:
n = 10.5
print(type(n))
print(n)

<class 'float'>
10.5

In [11]:
n = "Hai"
print(type(n))
print(n)

<class 'str'>
Hai

#### Operasi Aritmatika

In [15]:
n = 10
print("n + 5 = {0}".format(n + 5))
print("n - 5 = {0}".format(n - 5))
print("n * 2 = {0}".format(n * 5))
print("n ** 2 = {0}".format(n ** 5))
m = n // 2
print("{1} div 2 = {0}".format(m, n))

n + 5 = 15
n - 5 = 5
n * 2 = 50
n ** 2 = 100000
10 div 2 = 5

In [4]:
def luas(panjang, lebar):
    luas = panjang * lebar
    return luas

In [5]:
luas(50, 100)

5000

In [1]:
print "Hai"

Hai

In [1]:
hai = "Hai"

In [2]:
len(hai)

3

# Catatan
## Catatan
### Catatan

ini catatan

- satu
- dua 
- tiga

In [6]:
a = True
if a:
    print('False')
else:
    print('True')

False

In [7]:
a = 1
if a > 4:
    print('lebih')
elif a == 4:
    print('sama')
else:
    print('kurang')

kurang

#### Looping

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
i = 1
while i < 10:
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10

In [10]:
l = [1,2,3,4,5]

In [11]:
l

[1, 2, 3, 4, 5]

In [12]:
l[1] = 'hai'

In [13]:
l

[1, 'hai', 3, 4, 5]

In [15]:
import numpy as np

In [16]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [17]:
for i in l:
    print(i)

1
hai
3
4
5

#### List
mutable

In [24]:
li = [1,2,3,4,"lima"]

In [25]:
li[0] = 'satu'
print(li)

['satu', 2, 3, 4, 'lima']

#### Tuple
immutable

In [23]:
tu = (1,2,3,4,"lima")

In [26]:
tu[0] = 'satu'

TypeError: 'tuple' object does not support item assignment

#### Set

In [22]:
se = {1,2,3,4,"lima"}

In [30]:
se[1]

TypeError: 'set' object does not support indexing


#### Dictionary

In [21]:
di = {1:"satu",
      2:"dua",
      3:"tiga",
      4:"empat",
      "lima":5}

In [29]:
di[0]= 'satu'
print(di)

{0: 'satu', 1: 'satu', 2: 'dua', 3: 'tiga', 4: 'empat', 'lima': 5}

In [31]:
'lima' in li

True

In [32]:
li.append('sepuluh')

In [33]:
li

['satu', 2, 3, 4, 'lima', 'sepuluh']